# API keys and secrets
.env

# Dependencies
node_modules

# Editors
.idea
.vscode
.history

# OS metadata
.DS_Store

# Lock Files
package.lock
yarn.lock

# Tsc
tsconfig.tsbuildinfo

# Dist - No need to include dist on github
dist